<b>Home Appliances Detail</b><br />
<table>
  <tr>
    <th (click)="sort('id')">Id</th>
    <th (click)="sort('name')">Name</th>
    <th (click)="sort('price')">Price</th>
  </tr>
  <tr *ngFor="let data of homeApplianceData | orderBy:sortBy:isDesc">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td>{{data.price}}</td>
  </tr>
</table>

<br /><br /><br /><br />
<b>Home Appliance Names</b><br />
<table>
  <tr>
    <th (click)="toggleNameOrder()">Name</th>
  </tr>
  <tr *ngFor="let name of homeApplianceNames | orderBy:'':isNameDesc">
    <td>{{name}}</td>
  </tr>
</table>
