.form-container {
    width: 400px;
    background-color: whitesmoke;
    padding: 10px 0;;
    position: fixed;
    top: 21%;
    left: 35%;
    z-index: 999;
    form {
        margin: 0 auto;
        width: 200px;
        label {
            display: block;
            width: 6em;
            margin: .5em 0;
            color: #607D8B;
            font-weight: bold;
            input {
                height: 2em;
                font-size: 1em;
                padding-left: .4em;
            }
        }
        button {
            font-family: Arial;
            background-color: #eee;
            border: none;
            padding: 10px 20px;
            margin: 0 10px;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #cfd8dc;
        }
        
        button:disabled {
            background-color: #eee;
            color: #ccc;
            cursor: auto;
        }
        .action-container {
            display: inline-block;
        }
    }
}
.overlay {
    background-color: #000;
    opacity: .5;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
}