<div class="form-container">
    <form [formGroup]="userForm" (ngSubmit)="onSave()">
      <label>
        First Name: 
        <input type="text" formControlName="firstName" required />
      </label>
      <label>
        Last Name: 
        <input type="text" formControlName="lastName" required />
      </label>
      <label>
        Age: 
        <input type="number" formControlName="age" />
      </label>
      <label>
        Address: 
        <input type="text" formControlName="address" />
      </label>
      <label>
        Designation: 
        <input type="text" formControlName="designation" required />
      </label>
    
      <div class="action-container">
        <button type="submit" [disabled]="!userForm.valid">Save</button>
        <button type="button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
</div>
<div class="overlay"></div>